@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background: 
      linear-gradient(145deg,#2f50ef 10%,#0d28ab 10.5% 19%,#0000 19.5% 80.5%,#0d28ab 81% 89.5%,#8ea0f6 90%), 
      linear-gradient(145deg,#2f50ef 10%,#0d28ab 10.5% 19%,#0000 19.5% 80.5%,#0d28ab 81% 89.5%,#8ea0f6 90%) calc(50px) 100px,
      linear-gradient(35deg,#2f50ef 10%,#0d28ab 10.5% 19%,#0000 19.5% 80.5%,#0d28ab 81% 89.5%,#8ea0f6 90%), 
      linear-gradient( 35deg,#2f50ef 10%,#0d28ab 10.5% 19%,#0000 19.5% 80.5%,#0d28ab 81% 89.5%,#8ea0f6 90%) calc(50px) 100px,
      conic-gradient(from -90deg at 37.5% 50%,#0000 75%,#2f50ef 0) calc(50px/4) 0,
      conic-gradient(from -90deg at 37.5% 50%,#0000 75%,#8ea0f6 0) calc(50px) 0,
      linear-gradient(90deg,#8ea0f6 38%,#2f50ef 0 50%,#8ea0f6 0 62%,#2f50ef 0);
background-size: 100px calc(2*100px/3);

}
/* navbar styles */
.navbar {
    animation: animated 30s infinite ;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(to right, #0d28ab, #415FF1, #B3BFF9, #0D28AB, #415FF1, #B3BFF9);
    background-size: 1000% 100%;
    height: 100px;
    margin-bottom: 80px;
  }

.wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  width: 90%;
}

.logoDiv{
    display: flex;
    width: 50%;
}
.logout{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}
  
  @keyframes animated {
    0% {
      background-position: 0% 0%;
    }
    10% {
      background-position: 10% 0%;
    }
    20% {
      background-position: 20% 0%;
    }
    30% {
      background-position: 30% 0%;
    }
    40% {
      background-position: 40% 0%;
    }
    50% {
      background-position: 50% 0%;
    }
    60% {
      background-position: 60% 0%;
    }
    70% {
      background-position: 70% 0%;
    }
    80% {
      background-position: 80% 0%;
    }
    90% {
      background-position: 90% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
/* navbar styles */
/* Logo styles */

.logoDiv{
    width: 33.33%;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 72px;
}

.logoDiv img{
  height: 50px;
}
/* Logo styles */
/* logout styles */
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #0d28ab;
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 170px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }
  /* Logout styles */
.container{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f3f3f3;
    position: relative;
    justify-self: center;
    clip-path: polygon(100% 50%, 100% -100%, -39% 50%)
}
.porcentaje{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4caf50;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    clip-path: polygon(-100% 50%, 100% 50%, 100% 125%);
}
#porcentaje-gastos{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4caf50;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    clip-path: polygon(-100% 50%, 100% 50%, 100% 125%);
}
#change{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #d12525;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    clip-path: polygon(-100% 50%, 100% 50%, 100% 125%);
}
.porcentaje-50{
    transform: rotate(0deg);
}
.porcentaje-30{
    transform: rotate(0deg);
}
.porcentaje-20{
    transform: rotate(0deg);
}
.porcnum{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 10%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(100% 50%, 100% -100%, -39% 50%);
  }
.part{
    width: 80%;
    height: 45%;
    background: rgba(255,255,255,0.3);
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    border: 1px solid rgba(255,255,255,0.15);
    padding: 30px;
    border-radius: 25px;
    margin: auto;
}
.parent{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    justify-content: center;
    align-items: center;
}

.div1 { grid-area: 3 / 1 / 4 / 2; }
.div2 { grid-area: 2 / 2 / 3 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 4 / 3 / 5; }
.div5 { grid-area: 3 / 5 / 4 / 6; }
.div6 { grid-area: 3 / 3 / 4 / 4;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    justify-self: center; 
}

.bg-butto{
    background-color: aqua;
}

.valor{
    position: relative;
    z-index: 10;
    text-align: center;
    top: 20px;
}
.valor1{
    position: relative;
    z-index: 10;
    text-align: center;
    top: 20px;
}
.valor2{
    position: relative;
    z-index: 10;
    text-align: center;
    top: 20px;
}
.valor3{
    position: relative;
    z-index: 10;
    text-align: center;
    top: 20px;
}
.valor4{
    position: relative;
    z-index: 10;
    text-align: center;
    top: 20px;
}
.nom-graf{
    position: relative;
    z-index: 11;
    text-align: center;
    top: 20px;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
}

button, select {
    margin: 0 0.5em;
    padding: 0.5em 1em;
}

#BTNmetas-ahorro {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

/*gasto*/
.ruta-gasto {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #6AA9DC;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.ruta-gasto label h3 {
    font-size: 20px;
    color: white;
    margin: 0%;
}


.input-gasto, .select {
    font-size: 16px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}


#new-option-gasto {
    font-size: 16px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

/*meta*/
.ruta-meta {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #276CA5;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.ruta-meta h3 {
    color: white;
    font-size: 20px;
    margin: 0%;
  
}

.input, .select {
    font-size: 16px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

#new-option-meta {
    font-size: 16px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}



/*ingreso*/
.ruta-ingreso {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #6AA9DC;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;

}

.labelIn h3{
    color: white;
    font-size: 20px;
    margin: 0%;
}


.label {
    margin-bottom: 5px;
    font-weight: bold;
}

.btn {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    outline: none;
    width: 100%;
    text-align: center;
}

#new-option-ingreso {
    font-size: 16px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

/*general*/

.btn.green {
    background-color: #0D28AB;
}

.btn.red {
    background-color: #e74c3c;
}

.btn.yellow {
    background-color: #f1c40f;
    color: black;
}

.hidden {
    display: none;
}



.metas-ahorro {
    text-align: center;
}

#BTNlimpiar-respuesta {
    width: 50vh;
}

#recomendaciones {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.checkbox-group {
    margin: 10px 0;
}

.checkbox-group label {
    display: block;
    margin: 5px 0;
    font-size: 16px;
    color: white;
}


.padre {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.3);
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    border: 1px solid rgba(255,255,255,0.15);
    padding: 30px;
    border-radius: 25px;
}


