.navbar {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100px;
}

.wrap {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

/* Logo styles */
.logoDiv {
    width: 33.33%;
    margin-left: 20px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 72px;
}

.logoDiv img {
    height: 50px;
}
/* Logo styles */
/* option styles */
.options {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
    width: 33.33;
    z-index: 1;
}

.animated-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff40;
    box-shadow: 0 0 0 2px #ffffff20;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #2196F3;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:first-child {
    position: relative;
    z-index: 1;
}

.animated-button:hover {
    box-shadow: 0 0 0 5px #2195f360;
    color: #ffffff;
    z-index: 1;
}

.animated-button:active {
    scale: 0.95;
}

.animated-button:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
}

/* option styles */
/* Launch button styles */

.launch {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 33.33%;
    z-index: 1;
}


.launch button {
    display: flex;
    align-items: center;
    font-family: "Poetsen One", sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: #ffffff40;
    background-color: #ffffff00;
    box-shadow: 0 0 0 2px #ffffff20;
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.launch button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.launch button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.launch button:hover svg {
    transform: translateX(5px) rotate(90deg);
}

.launch button:hover span {
    transform: translateX(7px);
}

.launch button:hover {
    box-shadow: 0 0 0 5px #2195f360;
    color: #ffffff;
    background-color: #091c7c;
}

.launch button:active {
    scale: 0.95;
}

body {
    margin: 0;
    padding: 0;
}

#stripes {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform-origin: 0;
    transform: skewY(-12deg);
    background: -webkit-linear-gradient(300deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
    background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);

}

#stripes,
#stripes span {
    position: absolute;
}

#stripes span {
    height: 40px;
}

#stripes :nth-child(1) {
    width: 50%;
    left: 50%;
    top: 40px;
    background: #4c29ff;
}

#stripes :nth-child(2) {
    width: 14%;
    right: 0;
    bottom: 40px;
    background: #2be7ff;
}

#stripes :nth-child(3) {
    width: 25%;
    bottom: 0;
    right: 0;
    background: #a1ffc8;
}

@media (min-width:670px) {
    #stripes span {
        height: 150px;
    }

    #stripes :nth-child(1) {
        top: 0;
    }

    #stripes :nth-child(2) {
        width: 16.66667%;
        top: 300px;
        bottom: auto;
        background: #0dcfff;
    }

    #stripes :nth-child(3) {
        width: 33.33333%;
        right: auto;
        background: #11bdff;
    }
}

@media (min-width: 880px) {
    #stripes span {
        height: 190px;
    }

    #stripes :nth-child(1) {
        width: 33.33333%;
        left: -16.66666%;
        background: #53f;
    }

    #stripes :nth-child(2) {
        width: 33.33333%;
        top: 0;
        left: 16.66666%;
        right: auto;
        background: #4553ff;
    }

    #stripes :nth-child(3) {
        width: 33.33333%;
        left: 49.99999%;
        bottom: auto;
        background: #4f40ff;
    }

    #stripes :nth-child(4) {
        width: 33.33333%;
        top: 380px;
        right: -16.66666%;
        background: #25ddf5;
    }

    #stripes :nth-child(5) {
        width: 33.33333%;
        bottom: 0;
        background: #1fa2ff;
    }
}
/* canvas styles */
.header{
    position: relative;
}
canvas {
    width: 100%;
    height: 100%;
}

.canvas-container{
    position: absolute;
    inset: 0;
    z-index: 0;
    height: 50vh;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 68%, 0 100%);
}
/* canvas styles */