@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background: repeating-radial-gradient(circle, transparent, transparent 7.0px, #0d28ab 7.0px, #0d28ab 9.0px), repeating-radial-gradient(circle, transparent, transparent 7.0px, #0d28ab 7.0px, #0d28ab 9.0px), #2196f3;
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px, 40px 20px;
    background-color: #2196f3;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.favicon link{
  filter: invert(1);
}
.navbar {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100px;
}

.wrap {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

/* Logo styles */
.logoDiv {
    width: 33.33%;
    margin-left: 20px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 72px;
}

.logoDiv img {
    height: 50px;
}
/* Logo styles */
/* option styles */
.options {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
    width: 33.33;
    z-index: 1;
}

.animated-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff40;
    box-shadow: 0 0 0 2px #ffffff20;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:last-child {
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #2196F3;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:first-child {
    position: relative;

    z-index: 1;
}

.animated-button a{
    text-decoration: none;
    color: white
}

.animated-button:hover {
    box-shadow: 0 0 0 5px #2195f360;
    color: #ffffff;
    z-index: 1;
}

.animated-button:active {
    scale: 0.95;
}

.animated-button:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
}

/* option styles */
/* Launch button styles */

.launch {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 33.33%;
    z-index: 1;
}


.launch button {
    display: flex;
    align-items: center;
    font-family: "Poetsen One", sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: #ffffff40;
    background-color: #ffffff00;
    box-shadow: 0 0 0 2px #ffffff20;
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.launch button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.launch button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.launch button:hover svg {
    transform: translateX(5px) rotate(90deg);
}

.launch button:hover span {
    transform: translateX(7px);
}

.launch button:hover {
    box-shadow: 0 0 0 5px #2195f360;
    color: #ffffff;
    background-color: #091c7c;
}

.launch button:active {
    scale: 0.95;
}
/* Launch button styles */
/* canvas styles */
.header{
    position: relative;
}
canvas {
    width: 100%;
    height: 100%;
}

.canvas-one{
    position: absolute;
    inset: 0;
    z-index: 0;
    height: 120px;
    width: 100%;

    background-image: linear-gradient(to right, #0d28ab, #415FF1, #B3BFF9, #0D28AB, #415FF1, #B3BFF9);
    background-size: 1000% 100%;
    animation: animated 30s infinite ;
}

@keyframes animated {
    0% {
      background-position: 0% 0%;
    }
    10% {
      background-position: 10% 0%;
    }
    20% {
      background-position: 20% 0%;
    }
    30% {
      background-position: 30% 0%;
    }
    40% {
      background-position: 40% 0%;
    }
    50% {
      background-position: 50% 0%;
    }
    60% {
      background-position: 60% 0%;
    }
    70% {
      background-position: 70% 0%;
    }
    80% {
      background-position: 80% 0%;
    }
    90% {
      background-position: 90% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
/* canvas styles */
/* HERO STYLES */
main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
    left: 0;
    top: 250px;
    align-items: center;
    justify-content: center;
}

.us{
    width: 75%;
    display: flex;
    z-index: 2;
    flex-direction: row;
    filter: invert(0);
    color: white;
}

.us-left{
    width: 50%;
    font-size: 50px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background: rgba(255,255,255,0.55);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.275);
    border-radius: 25px;
}

.us-left p{
    font-size: 20px;
}

.us-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/img/mny.gif);
    background-size: cover;
}

.us-right img{
    width: 50%;

}
  
.gtku{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url(..//..//assets/img/bg2.gif);
}

.gtku-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    align-items: center;
    text-align: center;
    font-size: 30px;
    background-size: cover;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}

.container { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    background: rgba(255,255,255,0.2);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255,255,255,0.1);
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }
    .div5 { grid-area: 2 / 1 / 3 / 2; }
    .div6 { grid-area: 2 / 2 / 3 / 3; }
    .div7 { grid-area: 2 / 3 / 3 / 4; }
    .div8 { grid-area: 2 / 4 / 3 / 5; }

.container div img{
    width: 100%;
    height: 100%;
}

.container div{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 30px;
    padding: 10px;
}

.footer{ 
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
  }
  
  .footer-wrap{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: -10px;
    animation: animated 30s infinite ;
    background-image: linear-gradient(to right, #0d28ab, #415FF1, #B3BFF9, #0D28AB, #415FF1, #B3BFF9);
    background-size: 1000% 100%;
  }
  
  /* footer */
  /* footer left styles */
  .footer-left{
    display: flex;
    font-size: 30px;
    width: 33.33%;
    justify-content: center;
    align-items: center;
    height: auto;
    color: #fff;
  }
  /* footer left styles */
  /* Footer-mid styles*/
  .footer-mid{
    display: flex;
    width: 33.33%;
  }
  .footer-left{
    display: flex;
    width: 33.33%;
  }
  .wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  .twitter{
    padding: 10px;
  }
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    filter: invert(1);
    color: #000;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
  }
  /* footer.right styles */
  .footer-right input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 7px;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  .footer-right input:focus {
    background-color: white;
    transform: scale(1.05);
  }
  
  .footer-right{
  display: flex;
  flex-direction: row;
  gap: 10px;
  }
  
  .frl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .frr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    color: white;
    font-style: italic;
  }
   
  .frr button:hover{
    background-color: #e4405f;
  }


@media screen and (max-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 1 / 2 / 2 / 3; }
        .div3 { grid-area: 3 / 1 / 4 / 2; }
        .div4 { grid-area: 3 / 2 / 4 / 3; }
        .div5 { grid-area: 2 / 1 / 3 / 2; }
        .div6 { grid-area: 2 / 2 / 3 / 3; }
        .div7 { grid-area: 4 / 1 / 5 / 2; }
        .div8 { grid-area: 4 / 2 / 5 / 3; }

        .us{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .us-left{
            width: 90%;
        }
        
        .us-right{
            width: 90%;
            height: 400px;
        }
        .footer-mid{
            display: none;
        }
}

