<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ABOUT EC360 (Easy Capital 360)">
    <meta name="keywords" content="finanzas, dinero, plata, ahorro">
    <meta name="sitedomain" content="https://ec360finance.com">
    <meta name="organization" content="Riwi">
    <meta name="author" content="Jeronimo Betancur, Brayan Conde, Fabian, Andres Castrillon">
    <meta name="designer" content="Jeronimo Betancur, Brayan Conde, Fabian, Andres Castrillon">
    <meta name="robots" content="ABOUT US">
    <meta name="googlebot" content="index,follow">
    <meta name="revisit-after" content="15days">
    <title>EC360</title>
    <link rel="stylesheet" href="./AboutUs.css">
</head>
<body>
    <header>
        <nav class="navbar">
        <div class="wrap">
            <div class="logoDiv">
                <a href="../../../index.html"><img class="logoPagina" src="/src/assets/img/Logo maker project (1).png" alt="LogoPagina"></a>            </div>
                <div class="options">
                    <button type="button" class="animated-button">
                        <a href="#"><span>About Us</span>
                        <span></span></a>
                    </button>
                    <button type="button" class="animated-button">
                        <span>Contact</span>
                        <span></span>
                    </button>                   
                </div>
                <!--launch button-->
                <div class="launch">
                    <button>
                        <svg
                        height="24"
                        width="24"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        >
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path
                            d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"
                            fill="currentColor"
                        ></path>
                        </svg>
                        <span>Launch</span>
                    </button>                  
                </div>
                    <!--launch button-->
            </div>
        </nav>
    <!-- CANVAS -->
        <div class="canvas-one">
            <canvas id="canv" width="32" height="32">
        </div>
    </header>
    <main>
        <section class="us">
            <div class="us-left">
                <h1>This is EC360</h1>
                <p> 
                    EC360 or Easy Capital 360 Is an innovative idea that comes out of the mind of 4
                    under training developers looking at the need for the people to build that moneybase to
                    either, invest it, get a new motorcicle. whatever pourpose you can imagine, even that 
                    house in between the woods you've always wanted. <br><br><br>

                    Why EC360?<br>
                    Easy! We'll help you manage your money by putting on your hands an application 
                    where you will be able to enter your monthly semi-monthly salary and all of the
                    nickel and dimed expenses so that we can track them and plan a better future for your
                    money. 
                </p>
            </div>
            <div class="us-right">
                <img src="..//..//assets/img/mny.gif" alt="" id="">
                
            </div>
        </section>
        
    </main>
        <script src="./AboutUs.js"></script>
</body>
</html>