@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* navbar styles */
body{
  font-family: "Poetsen One", sans-serif;
}
.navbar {
  animation: animated 30s infinite ;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: linear-gradient(to right, #0d28ab, #415FF1, #B3BFF9, #0D28AB, #415FF1, #B3BFF9);
  background-size: 1000% 100%;
  height: 100px;
}

.wrap{
display: flex;
justify-content: space-between;
width: 90%;
}

@keyframes animated {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: 10% 0%;
  }
  20% {
    background-position: 20% 0%;
  }
  30% {
    background-position: 30% 0%;
  }
  40% {
    background-position: 40% 0%;
  }
  50% {
    background-position: 50% 0%;
  }
  60% {
    background-position: 60% 0%;
  }
  70% {
    background-position: 70% 0%;
  }
  80% {
    background-position: 80% 0%;
  }
  90% {
    background-position: 90% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
/* navbar styles */
/* Logo styles */
.logoDiv{
  width: 33.33%;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 72px;
}

.logoDiv img{
height: 50px;
}
/* Logo styles */
/* option styles */
.options {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
  width: 33.33;
}

.animated-button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #ffffff40;
  box-shadow: 0 0 0 2px #ffffff20;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #2196F3;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:first-child {
  position: relative;
  z-index: 1;
}

.animated-button:hover {
  box-shadow: 0 0 0 5px #2195f360;
  color: #ffffff;
}

.animated-button:active {
  scale: 0.95;
}

.animated-button:hover span:last-child {
  width: 150px;
  height: 150px;
  opacity: 1;
}
/* option styles */
/* Launch button styles */

.launch{
align-items: center;
justify-content: center;
display: flex;
width: 33.33%;
}
.launch button {
display: flex;
align-items: center;
font-family: "Poetsen One", sans-serif;
cursor: pointer;
font-weight: 500;
font-size: 17px;
padding: 0.8em 1.3em 0.8em 0.9em;
color: #ffffff40;
background-color: #ffffff00;
box-shadow: 0 0 0 2px #ffffff20;
border: none;
letter-spacing: 0.05em;
border-radius: 16px;
transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.launch button svg {
margin-right: 3px;
transform: rotate(30deg);
transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.launch button span {
transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.launch button:hover svg {
transform: translateX(5px) rotate(90deg);
}

.launch button:hover span {
transform: translateX(7px);
}

.launch button:hover {
box-shadow: 0 0 0 5px #2195f360;
color: #ffffff;
background-color: #091c7c;
}

.launch button:active {
scale: 0.95;
}
/* Launch button styles */
/* main styles */
main{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.content{
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 130px;
  background-image: url(../../assets/img/bg2.gif);
  background-size: cover;
}
/* main styles */
/* styles form */
.form-container {
  width: 50%;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.form-submit-btn{
position: relative;
justify-self: center;
}
.form-group{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  cursor: pointer;
  border-radius: 6px;
}
h2{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}
/* styles form */
/* footer */

.footer{ 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-wrap{
  position: relative;
  display: flex;
  flex-direction: row;
  animation: animated 30s infinite ;
  background-image: linear-gradient(to right, #0d28ab, #415FF1, #B3BFF9, #0D28AB, #415FF1, #B3BFF9);
  background-size: 1000% 100%;
}

/* footer */
/* footer left styles */
.footer-left{
  display: flex;
  font-size: 30px;
  width: 33.33%;
  justify-content: center;
  align-items: center;
  height: auto;
  color: #fff;
}
/* footer left styles */
/* Footer-mid styles*/
.footer-mid{
  display: flex;
  width: 33.33%;
}
.footer-left{
  display: flex;
  width: 33.33%;
}
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}
.twitter{
  padding: 10px;
}
.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  filter: invert(1);
  color: #000;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}
/* footer.right styles */
.footer-right input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 7px;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}
.footer-right input:focus {
  background-color: white;
  transform: scale(1.05);
}

.footer-right{
display: flex;
flex-direction: row;
gap: 10px;
}

.frl{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.frr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  color: white;
  font-style: italic;
}
 
.frr button:hover{
  background-color: #e4405f;
}
/* footer.right styles */
@media screen and (max-width: 900px) {
  .options button {
      display: none;
  }

  .wrapper-main{
    flex-direction: column;
  }

  .footer-wrap{
    display: flex;
    flex-direction: row;
    bottom: 0;
    animation: animated 30s infinite ;
    background-image: linear-gradient(to right, #0d28ab, #415FF1, #B3BFF9, #0D28AB, #415FF1, #B3BFF9);
    background-size: 1000% 100%;
  }

  .main-left{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
  }

  .wrapper-main{
    justify-content: center;
    align-items: center;
  }
  .buttons-main{
    gap: 20px;
  }
  .main{
    justify-content: center;
    align-items: center;
  }
  .footer-mid{
    display: none;
  }
}

