@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@keyframes animated {
    0% {
      background-position: 0% 0%;
    }
    10% {
      background-position: 10% 0%;
    }
    20% {
      background-position: 20% 0%;
    }
    30% {
      background-position: 30% 0%;
    }
    40% {
      background-position: 40% 0%;
    }
    50% {
      background-position: 50% 0%;
    }
    60% {
      background-position: 60% 0%;
    }
    70% {
      background-position: 70% 0%;
    }
    80% {
      background-position: 80% 0%;
    }
    90% {
      background-position: 90% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
* {
    padding: 0;
    margin: 0;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 100%;
    height: auto;
    background-color: #D9D9D9;
}

.wrapper{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    gap: 5px;
}

.navbar {
    width: 100%;
    height: 120px;
    justify-content: center;
    align-items: center;
    animation: animated 30s infinite ;
    background-image: linear-gradient(to right, #0d28ab, #415FF1, #B3BFF9, #0D28AB, #415FF1, #B3BFF9);
    background-size: 1000% 100%;
    display: flex;
    gap: 1100px;
}

.logoPage {
    width: 12%;
    height: auto;
    object-fit: cover;
    margin-left: 20px;
    margin-top: 15px;
}

.options {
    display: flex;
    align-items: center;
    gap: 20px;
}

.animated-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff;
    box-shadow: 0 0 0 2px #ffffff20;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.bi-caret-down {
    position: absolute;
    margin-top: 3px;
}

span {
<<<<<<< HEAD
    margin-right: 15px;
=======
    color: white;
>>>>>>> 3dd595a (updates 27/05/24)
}

.animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: white;
    color: black;
    border-radius: 50%;
    border-color: white;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:first-child {
    position: relative;
    z-index: 1;
}

.animated-button:hover {
    box-shadow: 0 0 5px 5px rgb(4, 16, 122);
    color: black;
}

.animated-button:active {
    scale: 0.95;
}

.animated-button:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */
.inicio_Sesion {
    width: 100%;
    height: 713.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    background-color: transparent;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    color: white;
}

.container .label {
    font-size: 15px;
    padding-left: 10px;
    position: absolute;
    top: 13px;
    transition: 0.3s;
    pointer-events: none;
}

.input {
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input:focus {
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.container .input:valid ~ .label,
.container .input:focus ~ .label {
    transition: 0.3s;
    padding-left: 2px;
    transform: translateY(-35px);
}

.container .input:valid,
.container .input:focus {
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.login_Section,
.signup_Section {
    animation: animated 30s infinite ;
    background-image: linear-gradient( 35deg, #0d28ab, #415FF1, #B3BFF9, #0D28AB, #415FF1, #B3BFF9);
    width: 40%;
    height: 95%;
    text-align: center;
    background-size: 1000% 100%;
    border-radius: 3%;
}

h2 {
    margin-top: 40px;
    font-size: 40px;
}

.inputs {
    gap: 20px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-username,
.login-password {
    width: 70%;
    height: 60px;
    margin-top: 40px;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    background-color: #D9D9D9;
}

::placeholder {
    color: black;
}

.login_button {
    margin-top: 70px;
    width: 40%;
    height: 10%;
    margin-top: 130px;
    font-size: 25px;
    border: transparent;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ffffff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-size: 18px;
}

.login_button:hover {
    background-color: #0D28AB;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.048);
    color: #fff;
    transform: translateY(-7px);
}
.login_button:active {
    transform: translateY(-1px);
}

.signup_username,
.signup_email,
.signup_password {
    width: 70%;
    height: 60px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    background-color: #D9D9D9;
}

.signup_button {
    margin-top: 70px;
    width: 40%;
    height: 10%;
    font-size: 25px;
    border: transparent;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ffffff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-size: 18px;
}

.signup_button:hover {
    background-color: #0D28AB;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.048);
    color: #fff;
    transform: 
    translateY(-7px);
}

.signup_button:active {
    transform: translateY(-1px);
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */
<<<<<<< HEAD
.footer {
    background-image: linear-gradient(to left, #0D28AB, #000000);
    width: 100%;
    height: 120px;
    display: flex;
}

.copyright {
    width: 50%;
    height: 100%;
}

.paragraph_footer {
    font-size: 25px;
    margin-top: 50px;
    margin-left: 30px;
}

.social_icons {
    width: 16.8%;
    height: 100%;
}

.social_media {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 7px;
}

.hover_icons {
    border-radius: 3000px;
    width: 200px;
    height: auto;
}

.bi-twitter-x,
.bi-facebook,
.bi-youtube,
.bi-instagram {
    width: 100%;    
    height: 100%;
    color: white;
}

.hover_icons:hover {
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.425);
    color: #fff;
    transform: translateY(-7px);
}

.enlaces {
    width: 16.6%;
    height: 100%;
}

.enlaces a {
    text-decoration: none;
    width: 100%;
    margin-top: 24px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.logoPage_footer {
    width: 16.6%;
    height: 100%;
}

.logoFooter {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
=======
/* footer */
footer{ 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-wrap{
  display: flex;
  flex-direction: row;
  width: 100%;
  bottom: 0;
  animation: animated 30s infinite ;
  background-image: linear-gradient(to right, #0d28ab, #415FF1, #B3BFF9, #0D28AB, #415FF1, #B3BFF9);
  background-size: 1000% 100%;
}

/* footer */
/* footer left styles */
.footer-left{
  display: flex;
  font-size: 30px;
  width: 33.33%;
  justify-content: center;
  align-items: center;
  height: auto;
  color: #fff;
}
/* footer left styles */
/* Footer-mid styles*/
.footer-mid{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
}

.wrapper-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}

.wrapper-footer .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper-footer .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper-footer .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper-footer .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper-footer .icon:hover span,
.wrapper-footer .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.footer-mid .facebook:hover,
.footer-mid .facebook:hover .tooltip,
.footer-mid .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.footer-mid .twitter:hover,
.footer-mid .twitter:hover .tooltip,
.footer-mid .twitter:hover .tooltip::before {
  filter: invert(1);
  color: #000;
}

.footer-mid .instagram:hover,
.footer-mid .instagram:hover .tooltip,
.footer-mid .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}
/* footer-mid styles */
.footer-left{
  display: flex;
  width: 33.33%;
}


/* footer.right styles */
.footer-right input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 7px;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}
.footer-right input:focus {
  background-color: white;
  transform: scale(1.05);
}

.footer-right{
display: flex;
flex-direction: row;
gap: 10px;
}

.frl{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px;
}

.frr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  color: white;
  font-style: italic;
  padding: 15px;
}
 
.frr button:hover{
  background-color: #e4405f;
}
/* footer.right styles */
@media screen and (max-width: 900px) {
.inicio_Sesion{
    flex-direction: column;
    position: auto;
}

.footer-wrap{
    display: flex;
    flex-direction: row;
    bottom: 0;
    animation: animated 30s infinite ;
    background-image: linear-gradient(to right, #0d28ab, #415FF1, #B3BFF9, #0D28AB, #415FF1, #B3BFF9);
    background-size: 1000% 100%;
}

  .footer-mid{
    display: none;
  }
}
>>>>>>> 3dd595a (updates 27/05/24)
